<div class="container" *ngIf="cityDetails; else loading">
  <div class="row valign-wrapper">
    <button class="col s2 waves-effect waves-light btn valign-wrapper" (click)="backToMain()">Back</button>
    <div class="center-align col s10"><h4 class="indigo-text">{{cityDetails.title}}</h4></div>
  </div>
  <div class="row">
    <div class="col s4" (click)="getDayDetails(cityDetails)" *ngFor="let day of cityDetails.consolidated_weather">
      <div class="column card hoverable">
        <div><b>Date: </b> {{day.created|date:'short'}}</div>
        <div><b>State: </b> {{day.weather_state_name}}</div>
        <div><b>Wind direction: </b> {{day.wind_direction | number:'1.2-2'}}</div>
        <div><b>Wind speed: </b> {{day.wind_speed | number:'1.2-2'}}</div>
        <div><b>Min temperature: </b> {{day.min_temp | number:'1.2-2'}}</div>
        <div><b>Max temperature: </b> {{day.max_temp | number:'1.2-2'}}</div>
        <div><b>Air pressure: </b>{{day.air_pressure | number:'1.2-2'}} mbar</div>
        <div><b>Humidity: </b>{{day.humidity| number:'1.2-2'}}%</div>
        <div><b>Visibility: </b>{{day.visibility| number:'1.2-2'}} miles</div>
        <div><b>Predictability: </b>{{day.predictability}}%</div>
      </div>
    </div>
  </div>
  <date-details [dayDetails]="dayDetails"></date-details>
  <div *ngIf="loadingDayDetails">
    <div class="container">
      <div class="center-align">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="container">
    <div class="center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

