<div class="container" *ngIf="cityDetails; else loading">
  <div class="row valign-wrapper">
    <button class="col s2 waves-effect waves-light btn valign-wrapper" (click)="backToMain()">Back</button>
    <div class="center-align col s10"><h4 class="indigo-text">
      {{cityDetails.title}}({{cityDetails.time|date:'short'}})</h4></div>
  </div>
  <div class="row">
    <div class="col s4" (click)="getDayDetails(cityDetails)" *ngFor="let day of cityDetails.consolidated_weather">
      <div class="center-align">{{day.applicable_date|date:'EEEE d'}}</div>
      <date-details [dayDetails]="day"></date-details>
    </div>
  </div>
  <div *ngIf="!loadingDayDetails;then dateDetailsTmpl; else loading">
    <div class="container">
      <div class="center-align">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="container">
    <div class="center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #dateDetailsTmpl>
  <div class="row" *ngIf="dayDetails">
    <h5>Day details</h5>
    <div class="col s4" *ngFor="let day of dayDetails">
      <date-details [dayDetails]="day"></date-details>
    </div>
  </div>
</ng-template>
